.equipo__card img{
    width: 400px;
    margin-bottom: 1vw;
}
.equipo__card{
    width: 400px;
}

.equipo__card{
    color: aliceblue;
}

.equipo{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.equipo h3{
    color: white;
    margin-top: 4vw;
    border-bottom: 5px solid;
    font-size: 40px;
    padding-bottom: 20px;
}

.equipo__card__container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vh;
    flex-wrap: wrap;
}

@media only screen and  (max-width:600px) {
    .equipo__card img{
        width: 350px;
        
    }
}