.servicios__card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.servicios__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 115px;
}
.servicios__container h3{
    text-align: center;
    margin-bottom: 4vw;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 5px solid;
    width: 200px;
    border-bottom: 5px solid;
}
.servicios__card__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.servicios__card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    
}
.servicios__card h4{
    margin-top: 1vw;
    text-align: center;
    
}
@media only screen and  (max-width:600px) {
    .servicios__card img{
        width: 350px;
        
    }
   
    
}

